
body {
    background-color: #0c2033;
}

html, body {
   /* display: none; */
   margin: 0;
   padding:0;
  }

* {
    /* font-family: 'Noto Sans JP' !important; */
    font-family: 'Heebo', sans-serif !important;
}